/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #591313;
}

/* Style App.js wrapper */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #053742;
  /* margin: 3.5rem auto 1.5rem; */
  padding: 1rem 1rem;
  color: #E8F0F2;

  /* border-radius: 2rem; */
  @media (max-width: 769px) {
    padding: 2rem 0;
  }

}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  width: 70%;
  margin: 0rem auto 1rem;
  display: flex;
  align-items: left;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  /* border-radius: 2rem; */
  padding-left: 0px;
}

.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.react-tabs__tab--selected {
  background: #dbbb19;
  color: #000000;
  font-weight: bold;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
  font-weight: normal;
}

.react-tabs__tab:hover {
  /* background: rgba(50, 224, 196, 0.15); */
  /* background: rgba(82, 219, 39, 0.15); */
  background: #939322;

}

/* .react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
} */

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}

/* css for the drop down */
.dropdown {
  max-width: 13em;
  margin: 80px auto 0;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  /* transition-delay: calc(60ms * var(--delay)); */
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

.dropdown-btn:focus-within+.dropdown-content {
  visibility: visible;
  left: 0;
}

.dropdown-btn:focus-within>.arrow {
  transform: rotate(180deg);
}

/* .dropdown-btn:focus + .dropdown-content li {
  left: 0;
} */
.dropdown:focus-within .dropdown-content li {
  left: 0;
}

/* .dropdown-btn:focus + .dropdown-content {
  visibility: visible;
} */
.dropdown:focus-within .dropdown-content {
  visibility: visible;
}

/* .dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
} */
.dropdown:focus-within .dropdown-btn>.arrow {
  transform: rotate(180deg);
}
