/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #591313;
}
 
/* Style App.js wrapper */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
 
/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #053742;
  /* margin: 3.5rem auto 1.5rem; */
  padding: 1rem 1rem;
  color: #E8F0F2;
  /* border-radius: 2rem; */
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
 
}
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  width: 70%;
  margin: 0rem auto 1rem;
  display: flex;
  align-items: left;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  /* border-radius: 2rem; */
  padding-left: 0px;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
 
.react-tabs__tab--selected {
  background: #dbbb19;
  color: #000000;
  font-weight: bold;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
  font-weight: normal;
}
 
.react-tabs__tab:hover {
  /* background: rgba(50, 224, 196, 0.15); */
  /* background: rgba(82, 219, 39, 0.15); */
  background: #939322;

}
 
/* .react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
} */
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}